<router-outlet></router-outlet>
<!-- BEGIN #content -->
<div class="album py-5 bg-light">
  <div class="container">

    <!-- BEGIN #lastRental panel -->
    <div class="panel panel-inverse">
      <div class="panel-heading">
        <h4 class="panel-title">Last Rented</h4>
        <div class="panel-heading-btn">
          <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i
              class="fa fa-expand"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i
              class="fa fa-redo"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i
              class="fa fa-minus"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i
              class="fa fa-times"></i></a>
        </div>
      </div>
      <div class="container">
        <hr>
        <h3>Your Last 3 Rentals</h3>
        <hr>
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <ng-container *ngFor="let order of orders; let i = index">
              <div class="col-md-4">
                <div class="card shadow-sm">
                  <div class="card-body" id="lastRentalView">
                    <h3>Order #{{order.id}}</h3>
                    <hr>
                    <ol>
                      <ng-container *ngFor="let book of order.books; let i = index">
                        <li style="list-style-type:square">{{book.title}}</li>
                      </ng-container>
                    </ol>
                    <hr>
                    <div class="d-flex justify-content-between align-items-center" id="bookControls">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Rent Again?</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="lastRentals">See rental details</button>
                      </div>
                      <small class="text-muted">Total: {{order.totalRentalPriceWithVAT + ' ' + order.currency!}}</small>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>

            <div class="col">
              <div class="card shadow-sm">
                <div class="card-body" id="lastRentalView">
                  <h3>Order Template</h3>
                  <hr>
                  <ol>
                    <li style="list-style-type:square">Book 1</li>
                    <li style="list-style-type:square">Book 2</li>
                    <li style="list-style-type:square">Book 3</li>
                    <li style="list-style-type:square">Book 4</li>
                    <li style="list-style-type:square">Book ..</li>
                    <li style="list-style-type:square">Book 999</li>
                  </ol>
                  <hr>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Rent
                        Again?</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">See
                        rental details</button>
                    </div>
                    <small class="text-muted">Total: X,X KN</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-inverse"><a routerLink="/user/lastRentals" style="color:white">"See
            more ..."</a></button>
      </div>
    </div>

    <!-- BEGIN #topRental panel -->
    <div class="panel panel-inverse">
      <div class="panel-heading">
        <h4 class="panel-title">Top Rentals</h4>
        <div class="panel-heading-btn">
          <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i
              class="fa fa-expand"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i
              class="fa fa-redo"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i
              class="fa fa-minus"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i
              class="fa fa-times"></i></a>
        </div>
      </div>
      <div class="container">
        <hr>
        <h3>Top Rentals Today</h3>
        <hr>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <ng-container *ngFor="let book of topBooks; let i = index">
            <div *ngIf="i < 3">
              <div class="col">
                <div class="card shadow-sm">
                  <span> <img
                      src="https://th.bing.com/th/id/R.85c908b86a70ea7b6aa3edcacea0f466?rik=iHfO2tTsvu1lxQ&pid=ImgRaw&r=0&sres=1&sresct=1"
                      class="bd-placeholder-img card-img-top" width="225px" height="225px"
                      aria-label="Placeholder: Thumbnail">
                    <div class="card-body">
                      <h3>{{book.title}}</h3>
                      <p class="card-text">{{book.description}}
                      </p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary" (click)="addToBasket(book.id!)">Rent</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary"
                            routerLink="/admin/book/{{book.id}}">See
                            details</button>
                        </div>
                        <small class="text-muted">Price:{{book.rentalPrice}}</small>
                      </div>
                    </div>
                  </span>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
        <button class="btn btn-inverse"><a routerLink="/user/topRentals" style="color:white">"See
            more ..."</a></button>
      </div>
    </div>

    <!-- BEGIN #newArrivals panel -->
    <div class="panel panel-inverse">
      <div class="panel-heading">
        <h4 class="panel-title">New Arrivals</h4>
        <div class="panel-heading-btn">
          <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i
              class="fa fa-expand"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i
              class="fa fa-redo"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i
              class="fa fa-minus"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i
              class="fa fa-times"></i></a>
        </div>
      </div>
      <div class="container">
        <hr>
        <h3>New Today</h3>
        <hr>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <ng-container *ngFor="let book of newBooks; let i = index">
            <div *ngIf="i < 3">
              <div class="col">
                <div class="card shadow-sm">
                  <span> <img
                      src="https://th.bing.com/th/id/R.85c908b86a70ea7b6aa3edcacea0f466?rik=iHfO2tTsvu1lxQ&pid=ImgRaw&r=0&sres=1&sresct=1"
                      class="bd-placeholder-img card-img-top" width="225px" height="225px"
                      aria-label="Placeholder: Thumbnail">
                    <div class="card-body">
                      <h3>{{book.title}}</h3>
                      <p class="card-text">{{book.description}}
                      </p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary" (click)="addToBasket(book.id!)">Rent</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary"
                            routerLink="/admin/book/{{book.id}}">See
                            details</button>
                        </div>
                        <small class="text-muted">Price:{{book.rentalPrice}}</small>
                      </div>
                    </div>
                  </span>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
        <button class="btn btn-inverse"><a routerLink="/user/newArrivals" style="color:white">"See
            more ..."</a></button>

      </div>
    </div>

    <!-- BEGIN #availableBooks panel -->
    <div class="panel panel-inverse">
      <div class="panel-heading">
        <h4 class="panel-title">Available Books</h4>
        <div class="panel-heading-btn">
          <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i
              class="fa fa-expand"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i
              class="fa fa-redo"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i
              class="fa fa-minus"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i
              class="fa fa-times"></i></a>
        </div>
      </div>
      <div class="container">
        <hr>
        <h3>Available Books</h3>
        <hr>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <ng-container *ngFor="let book of books; let i = index">
            <div *ngIf="i < 3">
              <div class="col">
                <div class="card shadow-sm">
                  <span> <img
                      src="https://th.bing.com/th/id/R.85c908b86a70ea7b6aa3edcacea0f466?rik=iHfO2tTsvu1lxQ&pid=ImgRaw&r=0&sres=1&sresct=1"
                      class="bd-placeholder-img card-img-top" width="225px" height="225px"
                      aria-label="Placeholder: Thumbnail">
                    <div class="card-body">
                      <h3>{{book.title}}</h3>
                      <p class="card-text">{{book.description}}
                      </p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary" (click)="addToBasket(book.id!)">Rent</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary"
                            routerLink="/admin/book/{{book.id}}">See
                            details</button>
                        </div>
                        <small class="text-muted">Price:{{book.rentalPrice}}</small>
                      </div>
                    </div>
                  </span>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
        <button class="btn btn-inverse"><a routerLink="/user/availableBooks" style="color:white">"See more
            ..."</a></button>
      </div>
    </div>
  </div>
  <!-- END #content -->

  <!-- BEGIN scroll to top btn -->
  <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top" data-toggle="scroll-to-top"
    (click)="scrollToTop()"><i class="fa fa-angle-up"></i></a>
  <!-- END scroll to top btn -->
  <div style="border-color:red; width:1000px; height:auto;"></div>
  <!-- END #app -->
