<div class="container-fluid">
    <h3>Add Genre</h3>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="genre.name">Genre Name</label>
          <input type="text" id="genre.name" class="form-control" [(ngModel)]="genre.name">
          <label for="genre.description">Description</label>
          <textarea type="text" id="genre.description" class="form-control" [(ngModel)]="genre.description"></textarea>
          <label for="genre.isActive">Is Active?</label> <br>
          <input type="checkbox" name="genre.isActive" id="genre.isActive" class="form-control-sm" [(ngModel)]="genre.isActive"> <br>
          <label for="genre.books">Books</label>
          <input type="text" id="genre.books" class="form-control" [(ngModel)]="booksId">
        </div>
      </div>
      <div class="col-md-9">
        <h3>Preview</h3>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col" >Name</th>
              <th scope="col" >Books</th>
              <th scope="col"  width="10%">Is Active?</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{genre.name}}</td>
              <td>{{genre.description}}</td>
              <td>{{genre.isActive}}</td>
            </tr>
          </tbody>
          
        </table>
        <div class="row">
          <div class="col">
            Books:
            <div *ngFor="let book of books">
                <input type="checkbox" name="genre.books" id="booksId" (click)="addBooks(book.id!)">
                {{' ' + book.title}}
              </div>
          </div>
          <div class="col">
          <textarea class="form-control" value="{{genre.description}}" placeholder="Genre Description" cols="20" rows="4"></textarea>
        </div>
        </div>
      </div>
    </div>
    <button class="btn btn-success" (click)="addGenre(genre)">Add Country</button>
  </div>
