

<body>
    <!-- BEGIN #product -->
    <div id="product" class="section-container pt-20px">
        <!-- BEGIN container -->
        <div class="container">
            <!-- BEGIN breadcrumb -->
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">BookLibrary</a></li>
                <li class="breadcrumb-item"><a href="#">User</a></li>
                <li class="breadcrumb-item"><a href="#">Books</a></li>
                <li class="breadcrumb-item active">{{book.title}}</li>
            </ul>
            <!-- END breadcrumb -->
            <!-- BEGIN product -->
            <div class="product">
                <!-- BEGIN product-detail -->
                <div class="product-detail">
                    <!-- BEGIN product-image -->
                    <div class="product-image">
                        <!-- BEGIN product-thumbnail -->
                        <div class="product-thumbnail">
                            <ul class="product-thumbnail-list">
                                <li class="active"><a href="#" data-click="show-main-image"
                                        data-url="../assets/images/noImage.png"><img src="../assets/images/noImage.png"
                                            alt="" /></a></li>
                                <li><a href="#" data-click="show-main-image"
                                        data-url="../assets/images/noImage.png"><img src="../assets/images/noImage.png"
                                            alt="" /></a></li>
                                <li><a href="#" data-click="show-main-image"
                                        data-url="../assets/images/noImage.png"><img src="../assets/images/noImage.png"
                                            alt="" /></a></li>
                            </ul>
                        </div>
                        <!-- END product-thumbnail -->

                        <!-- BEGIN product-main-image -->
                        <div class="product-main-image" data-id="main-image">
                            <img src="../assets/images/noImage.png" alt="" />
                        </div>
                        <!-- END product-main-image -->
                    </div>
                    <!-- END product-image -->

                    <!-- BEGIN product-info -->
                    <div class="product-info">
                        <!-- BEGIN product-info-header -->
                        <div class="product-info-header">
                            <h1 class="product-title"><span class="badge bg-primary">Optional</span> {{book.title}} </h1>
                            <ul class="product-category">
                                <li><a href="#">Books</a></li>
                                <li>/</li>
                                <li><a href="#">Genres</a></li>
                                <li>/</li>
                            </ul>
                        </div>
                        <!-- END product-info-header -->

                        <!-- BEGIN product-warranty -->
                        <div class="product-warranty">
                            <div class="pull-right">Availability: {{book.unitNumber}}</div>
                            <div><b>1 Week</b> Max rental period</div>
                        </div>
                        <!-- END product-warranty -->

                        <!-- BEGIN product-info-list -->
                        <ul class="product-info-list">
                            <li><i class="fa fa-circle"></i> Short Description</li>
                            <li><i class="fa fa-circle"></i> {{book.description}} </li>
                            <li><i class="fa fa-circle"></i> Short Description </li>
                            <li><i class="fa fa-circle"></i> {{book.description}} </li>
                        </ul>
                        <!-- END product-info-list -->

                        <!-- BEGIN product-purchase-container -->
                        <div class="product-purchase-container">
                            <div class="product-discount">
                                <span class="discount">{{book.rentalPrice}}</span>
                            </div>
                            <div class="product-price">
                                <div class="price">{{book.listPrice}}</div>
                            </div>
                            <a href="checkout_cart.html" class="btn btn-inverse btn-theme btn-lg w-200px">ADD TO
                                BASKET</a>
                        </div>
                        <!-- END product-purchase-container -->

                    </div>
                    <!-- END product-info -->
                </div>
                <!-- END product-detail -->

                <!-- BEGIN product-tab -->
                <div class="product-tab">
                    <!-- BEGIN #product-tab -->
                    <ul id="product-tab" class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link active" href="#product-desc" data-toggle="tab">Product
                                Description</a></li>
                        <li class="nav-item"><a class="nav-link" href="#product-info" data-toggle="tab">Additional
                                Information</a></li>
                        <li class="nav-item"><a class="nav-link" href="#product-reviews" data-toggle="tab">Rating &
                                Reviews (5)</a></li>
                    </ul>
                    <!-- END #product-tab -->

                    <!-- BEGIN #product-tab-content -->
                    <div id="product-tab-content" class="tab-content">
                        <!-- BEGIN #product-desc -->
                        <div class="tab-pane fade active show" id="product-desc">
                            <!-- BEGIN product-desc -->
                            <div class="product-desc">
                                <div class="image">
                                    <img src="../assets/images/noImage.png" alt="" />
                                </div>
                                <div class="desc">
                                    <h4>Description Header4</h4>
                                    <p>
                                        Dummy Text. Dummy Text. Dummy Text. Dummy Text.
                                        Dummy Text. Dummy Text. Dummy Text. Dummy Text.
                                        Dummy Text. Dummy Text. Dummy Text. Dummy Text.
                                        Dummy Text. Dummy Text. Dummy Text. Dummy Text.

                                        Dummy Text. Dummy Text. Dummy Text. Dummy Text.
                                        Dummy Text. Dummy Text. Dummy Text. Dummy Text.
                                        Dummy Text. Dummy Text. Dummy Text. Dummy Text.
                                        Dummy Text. Dummy Text. Dummy Text. Dummy Text.
                                    </p>
                                </div>
                            </div>
                            <!-- END product-desc -->
                            <!-- BEGIN product-desc -->
                            <div class="product-desc right">
                                <div class="image">
                                    <img src="../assets/images/noImage.png" alt="" />
                                </div>
                                <div class="desc">
                                    <h4>Description Header4</h4>
                                    <p>
                                        Dummy Text. Dummy Text. Dummy Text. Dummy Text.
                                        Dummy Text. Dummy Text. Dummy Text. Dummy Text.
                                        Dummy Text. Dummy Text. Dummy Text. Dummy Text.
                                        Dummy Text. Dummy Text. Dummy Text. Dummy Text.

                                        Dummy Text. Dummy Text. Dummy Text. Dummy Text.
                                        Dummy Text. Dummy Text. Dummy Text. Dummy Text.
                                        Dummy Text. Dummy Text. Dummy Text. Dummy Text.
                                        Dummy Text. Dummy Text. Dummy Text. Dummy Text.
                                    </p>
                                </div>
                            </div>
                            <!-- END product-desc -->
                        </div>
                        <!-- END #product-tab-content -->
                    </div>
                    <!-- END product-tab -->
                </div>
            </div>
            <!-- END product -->
            <!-- BEGIN similar-product -->
            <h4 class="mb-15px mt-30px">Similar Books</h4>
            <div class="row gx-1">
                <div class="col-lg-3 col-md-4">
                    <!-- BEGIN item -->
                    <div class="item item-thumbnail">
                        <a href="product_detail.html" class="item-image">
                            <img src="../assets/images/noImage.png" alt="">
                            <div class="discount">Optional</div>
                        </a>
                        <div class="item-info">
                            <h4 class="item-title">
                                <a href="product_detail.html">BOOK NAME<br>XYZ</a>
                            </h4>
                            <p class="item-desc">Short description</p>
                            <div class="item-price">Sale Price</div>
                            <div class="item-discount-price">Price</div>
                        </div>
                    </div>
                    <!-- END item -->
                </div>
                <div class="col-lg-3 col-md-4">
                    <!-- BEGIN item -->
                    <div class="item item-thumbnail">
                        <a href="product_detail.html" class="item-image">
                            <img src="../assets/images/noImage.png" alt="">
                            <div class="discount">Optional</div>
                        </a>
                        <div class="item-info">
                            <h4 class="item-title">
                                <a href="product_detail.html">BOOK NAME<br>XYZ</a>
                            </h4>
                            <p class="item-desc">Short description</p>
                            <div class="item-price">Sale Price</div>
                            <div class="item-discount-price">Price</div>
                        </div>
                    </div>
                    <!-- END item -->
                </div>
                <div class="col-lg-3 col-md-4">
                    <!-- BEGIN item -->
                    <div class="item item-thumbnail">
                        <a href="product_detail.html" class="item-image">
                            <img src="../assets/images/noImage.png" alt="">
                            <div class="discount">Optional</div>
                        </a>
                        <div class="item-info">
                            <h4 class="item-title">
                                <a href="product_detail.html">BOOK NAME<br>XYZ</a>
                            </h4>
                            <p class="item-desc">Short description</p>
                            <div class="item-price">Sale Price</div>
                            <div class="item-discount-price">Price</div>
                        </div>
                    </div>
                    <!-- END item -->
                </div>
                <div class="col-lg-3 col-md-4">
                    <!-- BEGIN item -->
                    <div class="item item-thumbnail">
                        <a href="product_detail.html" class="item-image">
                            <img src="../assets/images/noImage.png" alt="">
                            <div class="discount">Optional</div>
                        </a>
                        <div class="item-info">
                            <h4 class="item-title">
                                <a href="product_detail.html">BOOK NAME<br>XYZ</a>
                            </h4>
                            <p class="item-desc">Short description</p>
                            <div class="item-price">Sale Price</div>
                            <div class="item-discount-price">Price</div>
                        </div>
                    </div>
                    <!-- END item -->
                </div>
            </div>
            <!-- END similar-product -->
            <button class="btn btn-primary" (click)="goBack()">Go back</button>
        </div>
        <!-- END container -->
    </div>
    <!-- END #product -->

</body>
