<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Last Rentals</h1>
    </div>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <ng-container *ngFor="let order of orders; let i = index">
              <div class="col-md-4">
                <div class="card shadow-sm">
                  <div class="card-body" id="lastRentalView">
                    <h3>Order #{{order.id}}</h3>
                    <hr>
                    <ol>
                      <ng-container *ngFor="let book of order.books; let i = index">
                      <li style="list-style-type:square">{{book.title}}</li>
                      </ng-container>
                    </ol>
                    <hr>
                    <div class="d-flex justify-content-between align-items-center" id="bookControls">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Rent Again?</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">See rental details</button>
                      </div>  
                      <small class="text-muted">Total: {{order.totalRentalPriceWithVAT + ' ' + order.currency!}}</small> 
                  </div>
                  </div>
                </div>
              </div>
          </ng-container>
        </div>
      </div>
    </div>
    <hr>
    <!-- BEGIN #table -->
    <h2>Orders</h2>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Order ID:</th>
                <th scope="col">User</th>
                <th scope="col">Books Rented</th>
                <th scope="col">Date</th>
                <th scope="col">Total</th>
                <th scope="col">Total with VAT</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of orders; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{order.id}}</td>
                <td>{{order.user.username}}</td>
                <td> 
                  <ng-container *ngFor="let book of order.books, let i = index">
                    <ng-container *ngIf="i > 0">,</ng-container>
                    {{book.title}}
                  </ng-container>
                </td>
                <td>{{order.date | date}}</td>
                <td>{{order.totalRentalPrice}} {{order.currency}}</td>
                <td>{{order.totalRentalPriceWithVAT}} {{order.currency}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- END #table -->

  </div>
</div>

<!-- BEGIN scroll to top btn -->
<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top" data-toggle="scroll-to-top"
  (click)="scrollToTop()"><i class="fa fa-angle-up"></i></a>
<!-- END scroll to top btn -->
<div style="border-color:red; width:1000px; height:auto;"></div>
