<div class="container-fluid">
<div class="nav-wizards-container">
  <nav class="nav nav-wizards-1 mb-2">
    <!-- active -->
    <div class="nav-item col">
      <a class="nav-link active" href="../UserMenu/UserBasket.html">
        <div class="nav-no">1</div>
        <div class="nav-text">Basket Review</div>
      </a>
    </div>
    <!-- disabled -->
    <div class="nav-item col">
      <a class="nav-link disabled" href="../UserMenu/UserPaymentInfo.html">
        <div class="nav-no">2</div>
        <div class="nav-text">Payment Info</div>
      </a>
    </div>

    <!-- disabled -->
    <div class="nav-item col">
      <a class="nav-link disabled" href="../UserMenu/UserOrderComplete.html">
        <div class="nav-no">3</div>
        <div class="nav-text">Checkout</div>
      </a>
    </div>
  </nav>
</div>

<div class="card">
  <div class="card-body">


    <section id="portfolio" class="two">

      <section class="h-100 h-custom" style="background-color: #eee;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
              <div class="card">
                <div class="card-body p-4">
                  <div class="col">
                    <h5 class="mb-3"><a href="#!" class="text-body"><i
                          class="fas fa-long-arrow-alt-left me-2"></i>Continue
                        shopping</a></h5>
                    <hr>

                    <div class="d-flex justify-content-between align-items-center mb-4">
                      <div>
                        <p class="mb-1">Shopping cart</p>
                        <p class="mb-0">You have 4 items in your cart</p>
                      </div>
                      <div>
                        <p class="mb-0"><span class="text-muted">Sort by:</span>
                          <a href="#!" class="text-body">price <i class="fas fa-angle-down mt-1"></i></a></p>
                      </div>
                    </div>

                    <div class="card mb-3">
                      <div class="card-body">
                        <div class="d-flex justify-content-between">
                          <div class="d-flex flex-row align-items-center">
                            <div>
                              <img src="../assets/images/harryPotter.jpg" class="img-fluid rounded-3"
                                alt="Shopping item" style="width: 65px;">
                            </div>
                            <div class="ms-3">
                              <h5>Book 1</h5>
                              <p class="small mb-0">Book 1 Short
                                description</p>
                            </div>
                          </div>
                          <div class="d-flex flex-row align-items-center">
                            <div style="width: 50px;">
                              <h5 class="fw-normal mb-0">7 days</h5>
                            </div>
                            <div style="width: 80px;">
                              <h5 class="mb-0">0.99€</h5>
                            </div>
                            <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="card mb-3">
                      <div class="card-body">
                        <div class="d-flex justify-content-between">
                          <div class="d-flex flex-row align-items-center">
                            <div>
                              <img src="../assets/images/troy.gif" class="img-fluid rounded-3" alt="Shopping item"
                                style="width: 65px;">
                            </div>
                            <div class="ms-3">
                              <h5>Book 2</h5>
                              <p class="small mb-0">Book 2 Short
                                description</p>
                            </div>
                          </div>
                          <div class="d-flex flex-row align-items-center">
                            <div style="width: 50px;">
                              <h5 class="fw-normal mb-0">7 days</h5>
                            </div>
                            <div style="width: 80px;">
                              <h5 class="mb-0">0.99€</h5>
                            </div>
                            <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="card mb-3">
                      <div class="card-body">
                        <div class="d-flex justify-content-between">
                          <div class="d-flex flex-row align-items-center">
                            <div>
                              <img src="../assets/images/webDesign.png" class="img-fluid rounded-3" alt="Shopping item"
                                style="width: 65px;">
                            </div>
                            <div class="ms-3">
                              <h5>Book 3</h5>
                              <p class="small mb-0">Book 3 Short
                                description</p>
                            </div>
                          </div>
                          <div class="d-flex flex-row align-items-center">
                            <div style="width: 50px;">
                              <h5 class="fw-normal mb-0">7 days</h5>
                            </div>
                            <div style="width: 80px;">
                              <h5 class="mb-0">0.99€</h5>
                            </div>
                            <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="card mb-3">
                      <div class="card-body">
                        <div class="d-flex justify-content-between">
                          <div class="d-flex flex-row align-items-center">
                            <div>
                              <img src="../assets/images/noImage.png" class="img-fluid rounded-3" alt="Shopping item"
                                style="width: 65px;">
                            </div>
                            <div class="ms-3">
                              <h5>Book 4</h5>
                              <p class="small mb-0">Book 4 Short
                                description</p>
                            </div>
                          </div>
                          <div class="d-flex flex-row align-items-center">
                            <div style="width: 50px;">
                              <h5 class="fw-normal mb-0">7 days</h5>
                            </div>
                            <div style="width: 80px;">
                              <h5 class="mb-0">0.99€</h5>
                            </div>
                            <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <button type="button" class="btn btn-info btn-block btn-lg" routerLink="/user/userBasket/paymentInfo">
                      <div class="d-flex justify-content-between">
                        <span>$4818.00</span>
                        <span>Payment <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                      </div>
                    </button>


                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
    </section>
</section>

  </div>
</div>
</div>
<!-- BEGIN scroll to top btn -->
<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top"
data-toggle="scroll-to-top" (click)="scrollToTop()">^<i class="fa fa-angle-up"></i></a>
<!-- END scroll to top btn -->
