<div class="container-fluid">
    <h3>Add Country</h3>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <h5>Country Name</h5>
          <input type="text" class="form-control" [(ngModel)]="country.name">
          <h5>Short Name</h5>
          <input type="text" class="form-control" maxlength="3" [(ngModel)]="country.shortName">
          <h5>VAT</h5>
          <input type="number" class="form-control" max="100" [(ngModel)]="country.vat">
          <h5>Book Description</h5>
        </div>
      </div>
      <div class="col-md-9">
        <h3>Preview</h3>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col" >Name</th>
              <th scope="col" >Short Name</th>
              <th scope="col"  width="10%">VAT</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{country.name}}</td>
              <td>{{country.shortName}}</td>
              <td>{{country.vat}}</td>
            </tr>
  
          </tbody>
        </table>
      </div>
    </div>
    <button class="btn btn-success" (click)="addCountry(country)">Add Country</button>
  </div>
