<div class="container-fluid">
  <h3>Add Book</h3>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="book.title">Title</label> 
        <input type="text" class="form-control" id="book.title" [(ngModel)]="book.title">
        <label for="book.yearOfPublish">Year of Publish</label> 
        <input type="number" class="form-control" id="book.yearOfPublish" [(ngModel)]="book.yearOfPublish">
        <label for="book.description">Description</label> 
        <input type="text" class="form-control" id="book.description" [(ngModel)]="book.description">
        <label for="book.rentalPrice">Rental Price</label> 
        <input type="number" class="form-control"  id="book.rentalPrice"[(ngModel)]="book.rentalPrice">
        <label for="book.unitNumber">Unit Number</label> 
        <input type="number" class="form-control" id="book.unitNumber" [(ngModel)]="book.unitNumber">
        <hr>
        <label for="book.publisherId">Publisher</label> 
        <input type="text" class="form-control" id="book.publisherId" [(ngModel)]="book.publisherId">
        <label for="book.languageId">Language</label> 
        <input type="text" class="form-control" id="book.languageId" [(ngModel)]="book.languageId">
        <label for="book.authors.id">Author</label> 
        <input type="text" class="form-control" id="book.authors.id" [(ngModel)]="authorId">
        <label for="book.genres.id">Genre</label> 
        <input type="text" class="form-control" id="book.genres.id"  [(ngModel)]="genreId">
        <label for="book.orders.id">Orders</label> 
        <input type="text" class="form-control" id="book.orders.id" [(ngModel)]="orderId">
      </div>
    </div>
    <div class="col-md-9">
      <h3>Preview</h3>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">PublisherID</th>
            <th scope="col">LanguageID</th>
            <th scope="col">GenreID</th>
            <th scope="col" width="10%">Year of Publish</th>
            <th scope="col" width="10%">Rental Price</th>
            <th scope="col" width="10%">List Price</th>
            <th scope="col" width="10%">Unit Number</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{book.title}}</td>
            <td>{{book.publisher}}</td>
            <td>{{book.language}}</td>
            <td>{{book.yearOfPublish}}</td>
            <td>{{book.rentalPrice}}</td>
            <td>{{book.unitNumber}}</td>
          </tr>
          
          <h5>Author Id</h5>
          <input type="text" value ="1" class="form-control" id="varijabla.author.id"/>
          <h5>PublisherID</h5>
          <input type="number" value ="1" class="form-control" id="varijabla.publisherId"/>
          <h5>LanguageID</h5>
          <input type="number"value ="1" class="form-control" id="varijabla.languageId"/>
          <h5>GenreID</h5>
          <input type="number" value ="1" class="form-control" id="varijabla.genre.id">

        </tbody>
      </table>
      <textarea class="form-control" value="{{book.description}}" placeholder="Book Description" cols="100"
        rows="10"></textarea>
      <div class="row">
        <div class="col">
          Publisher:
          <div *ngFor="let publisher of publishers">
              <input type="radio" name="book.publisherId" id="book.publisherId" (click)="addPublisher(publisher.id!)">{{' ' + publisher.name}}
          </div>
        </div> 
        <div class="col">
          Languages:
          <div *ngFor="let language of languages">
              <input type="radio" name="book.languageId" id="book.languageId" (click)="addLanguage(language.id!)">{{' ' + language.name}}
            </div>
        </div>
        <div class="col">
          Authors:
          <div *ngFor="let author of authors">
              <input type="checkbox" name="book.authors" id="authorId" (click)="addAuthor(author.id!)">
              {{' ' + author.firstName + ' ' + author.lastName}}
            </div>
        </div> 
        <div class="col">
          Genres:
          <div *ngFor="let genre of genres">
              <input type="checkbox" name="book.genres" id="genreId" (click)="addGenre(genre.id!)">
              {{' ' + genre.name}}
          </div>
        </div>
        <div class="col">
          Orders:
          <div *ngFor="let order of orders">
              <input type="checkbox" name="book.orders" id="orderId" (click)="addOrder(order.id!)">
              {{order.id}}
            </div>
        </div>         
      </div>
    </div>
  </div>
  <button class="btn btn-success" (click)="addBook(book)">Add Book</button>
</div>
