<!-- BEGIN #sidebar -->
<div id="sidebar" class="app-sidebar" >
  <!-- BEGIN scrollbar -->
  <div class="app-sidebar-content" data-scrollbar="true" data-height="100%">
    <!-- BEGIN menu -->
    <div>
      <div class="menu" >
        <div class="menu-profile">
          <a href="javascript:;" class="menu-profile-link" data-toggle="app-sidebar-profile"
            data-target="#appSidebarProfileMenu">
            <div class="menu-profile-cover with-shadow"></div>
            <div class="menu-profile-image menu-profile-image-icon bg-gray-900 text-gray-600">
              <i class="fa fa-user"></i>
            </div>
            <ng-container *ngIf="!user.id">
              <div class="menu-profile-info">
                <div class="d-flex align-items-center">
                  <div class="flex-grow-1">
                    Welcome
                  </div>
                  <div class="menu-caret ms-auto"></div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="user.id">
              <div class="menu-profile-info">
                <div class="d-flex align-items-center">
                  <div class="flex-grow-1">
                    {{user.firstName! + ' ' + user.lastName!}}
                  </div>
                  <div class="menu-caret ms-auto"></div>
                </div>
                <ng-container *ngIf="user.role === 0">
                  <small>Admin</small>
                </ng-container>
                <ng-container *ngIf="user.role === 2">
                  <small>User</small>
                </ng-container>
              </div>
            </ng-container>
          </a>
        </div>
        <div id="appSidebarProfileMenu" class="collapse">
          <div class="menu-item pt-5px">
            <a href="javascript:;" class="menu-link">
              <div class="menu-icon"><i class="fa fa-cog"></i></div>
              <div class="menu-text">Settings</div>
            </a>
          </div>
          <div class="menu-item">
            <a href="javascript:;" class="menu-link">
              <div class="menu-icon"><i class="fa fa-pencil-alt"></i></div>
              <div class="menu-text"> Send Feedback</div>
            </a>
          </div>
          <div class="menu-item pb-5px">
            <a href="javascript:;" class="menu-link">
              <div class="menu-icon"><i class="fa fa-question-circle"></i></div>
              <div class="menu-text"> Helps</div>
            </a>
          </div>
          <div class="menu-divider m-0"></div>
        </div>
        <div class="menu-header">Navigation</div>
        <div class="menu-item active">
          <a routerLink="dashboard" class="menu-link">
            <div class="menu-icon">
              <i class="fa fa-th-large"></i>
            </div>
            <div class="menu-text">Home</div>
          </a>
        </div>

        <div class="menu-item has-sub" *ngIf="isAdminLogged">
          <a href="javascript:;" class="menu-link">
            <div class="menu-icon">
              <i class="fa fa-align-left"></i>
            </div>
            <div class="menu-text">Admin menu</div>
            <div class="menu-caret"></div>
          </a>
          <div class="menu">
            <div class="menu-item"><a routerLink="admin" class="menu-link">
                <div class="menu-text">Dashboard</div>
              </a></div>
              <div class="menu-item"><a routerLink="admin/bookControl" class="menu-link">
                <div class="menu-text">All books</div>
              </a></div>
              <div class="menu-item"><a routerLink="admin/authorControl" class="menu-link">
                <div class="menu-text">All authors</div>
              </a></div>
              <div class="menu-item"><a routerLink="admin/countryControl" class="menu-link">
                <div class="menu-text">All countries</div>
              </a></div>
              <div class="menu-item"><a routerLink="admin/genreControl" class="menu-link">
                  <div class="menu-text">All genres</div>
                </a></div>
                <div class="menu-item"><a routerLink="admin/languageControl" class="menu-link">
                    <div class="menu-text">All languages</div>
                  </a></div>
            <div class="menu-item"><a routerLink="admin/userControl" class="menu-link">
                <div class="menu-text">All users</div>
              </a></div>
            <div class="menu-item"><a routerLink="admin/orderControl" class="menu-link">
                <div class="menu-text">All rentals</div>
              </a></div>
          </div>
        </div>

        <div class="menu-item has-sub">
          <a href="javascript:;" class="menu-link">
            <div class="menu-icon">
              <i class="fa fa-align-left"></i>
            </div>
            <div class="menu-text">User menu</div>
            <div class="menu-caret"></div>
          </a>
          <div class="menu">
            <ng-container *ngIf="isLogged || isAdminLogged">
              <div class="menu-item"><a routerLink="user" class="menu-link">
                  <div class="menu-text">Dashboard</div>
                </a></div>
            </ng-container>
            <div class="menu-item"><a routerLink="user/availableBooks" class="menu-link">
                <div class="menu-text">Available books</div>
              </a></div>
            <div class="menu-item"><a routerLink="user/topRentals" class="menu-link">
                <div class="menu-text">Top rentals</div>
              </a></div>
            <div class="menu-item"><a routerLink="user/newArrivals" class="menu-link">
                <div class="menu-text">New arrivals</div>
              </a></div>
            <ng-container *ngIf="isLogged || isAdminLogged">
              <div class="menu-item"><a routerLink="user/lastRentals" class="menu-link">
                  <div class="menu-text">Last rented</div>
                </a></div>
            </ng-container>
            <ng-container *ngIf="isLogged || isAdminLogged">
              <div class="menu-item"><a routerLink="user/userBasket" class="menu-link">
                  <div class="menu-text">Basket</div>
                </a></div>
            </ng-container>
          </div>
        </div>
        <!-- BEGIN minify-button -->
        <div class="menu-item d-flex">
          <a href="javascript:;" class="app-sidebar-minify-btn ms-auto" data-toggle="app-sidebar-minify"><i
              class="fa fa-angle-double-left"></i></a>
        </div>
        <!-- END minify-button -->        
      </div>
      <!-- END menu -->
    </div>
  </div>
  <!-- END scrollbar -->
</div>
<div class="app-sidebar-bg"></div>
<div class="app-sidebar-mobile-backdrop"><a href="#" data-dismiss="app-sidebar-mobile" class="stretched-link"></a></div>
<!-- END #sidebar -->
