<button class="badge badge-secondary mb-3"  (click)="goBack()"> Back</button>

<div *ngIf="currentGenre.id" class="edit-form">
        <h4>Edit Genre '{{currentGenre.name}}'</h4>
        <form>
            <div class="form-group">
                <label for="fname">Genre Name</label>
                <input
                    type="text"
                    class="form-control"
                    id="name"
                    [(ngModel)]="currentGenre.name"
                    name="name"
                    />
            </div>

            
            <div class="form-group">
                <label for="isActive">Description</label>
                <input
                    type="text"
                    class="form-control"
                    id="description"
                    [(ngModel)]="currentGenre.description"
                    name="description"
                    />
            </div>
            
            <div class="form-group">
                <label for="isActive">Is Active?<input
                    type="checkbox"
                    class="form-control"
                    id="isActive"
                    [(ngModel)]="currentGenre.isActive"
                    name="isActive"
                    /></label>
                
            </div>
            
            <div class="form-group">
                <label for="books">Books</label>
                <div *ngFor="let book of books">
                <input
                    type="checkbox"
                    class="form-control-sm"
                    id="books"
                    name="books"
                    (click)="addToArray(book.id!)"
                    /> {{book.title}}
                </div>
            </div>
        </form>
    <button class="badge badge-danger mr-2" (click)="deleteGenre(currentGenre)">
      Delete
    </button>
    <button type="submit" class="badge badge-success mb-2" (click)="updateGenre(currentGenre)">
        Update
    </button>
    </div>
    <div *ngIf="!currentGenre.id">
        <br />
        <p>Cannot access this Genre...</p>
    </div>
