<h2>Publisher Control</h2>
<div class="container-fluid">
<div class="row">
  <div class="col-md-10">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Publisher Name</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let publisher of publishers">
        <th scope="row">{{publisher.id}}</th>
        <td>{{publisher.name}} </td>
        <td><button class="btn btn-warning" routerLink="/admin/publisherControl/updatePublisher/{{publisher.id}}">Edit</button></td>
        <td><button class="btn btn-danger" (click)="deletePublisher(publisher.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-md-2">
  <button class="btn btn-success" routerLink="/admin/publisherControl/addPublisher">Add Publisher</button>
</div>
</div>
</div>
