<h2>Book Control</h2>
<div class="container-fluid">
<div class="row">
  <div class="col-md-10">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Book Title</th>
        <th scope="col">Author</th>
        <th scope="col">Publisher</th>
        <th scope="col">Language</th>
        <th scope="col">Genres</th>
        <th scope="col">Rental Price</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <th scope="row">{{book.id}}</th>
        <td>{{book.title}}</td>
        <td>
          <ng-container *ngFor="let author of book.authors, let i = index">
            <ng-container *ngIf="i > 0">,</ng-container>
            {{author.firstName + ' ' +  author.lastName}}
          </ng-container>
        </td>
        <td>{{book.publisher.name}}</td>
        <td>{{book.language.name}}</td>
        <td>
          <ng-container *ngFor="let genre of book.genres, let i = index">
            <ng-container *ngIf="i > 0">,</ng-container>
            {{genre.name}}
          </ng-container>
        </td>
        <td>{{book.rentalPrice}}</td>
        <td><button class="btn btn-warning" routerLink="/admin/editbook/{{book.id}}">Edit</button></td>
        <td><button class="btn btn-danger" (click)="deleteBook(book.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-md-2">
  <button class="btn btn-success" routerLink="/admin/addbook">Add Book</button>
</div>
</div>
</div>

<!-- 
if i > od 0, {{zarez}}, -->