<body>

  <!-- BEGIN #app -->
  <div id="app" class="app app-header-fixed app-sidebar-fixed">
    <!-- BEGIN #content -->
    <div id="content" class="app-content">
      <!-- END #content -->

      <div class="nav-wizards-container">
        <nav class="nav nav-wizards-1 mb-2">
          <!-- completed -->
          <div class="nav-item col">
            <a class="nav-link completed" href="user/userBasket">
              <div class="nav-no">1</div>
              <div class="nav-text">Basket Review</div>
            </a>
          </div>

          <!-- active -->
          <div class="nav-item col">
            <a class="nav-link completed" href="user/paymentInfo">
              <div class="nav-no">2</div>
              <div class="nav-text">Payment Info</div>
            </a>
          </div>

          <!-- disabled -->
          <div class="nav-item col">
            <a class="nav-link active" href="user/orderComplete">
              <div class="nav-no">3</div>
              <div class="nav-text">Checkout</div>
            </a>
          </div>
        </nav>
      </div>

      
    </div>
    <div class="container">
      <section id="portfolio" class="two">

        <section class="h-100 h-custom" style="background-color: #eee;">
          <div class="container py-5 h-100" *ngIf="user">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col">
                <div class="card">
                  <div class="card-body p-4">
                    <div class="col">
                      <h5 class="mb-3"><a routerLink="/user/availableBooks" class="text-body"><i
                            class="fas fa-long-arrow-alt-left me-2"></i>Continue
                          shopping</a></h5>
                      <hr>

                      <div class="d-flex justify-content-between align-items-center mb-4">
                        <div>
                          <p class="mb-1">Shopping cart</p>
                          <ng-container *ngIf="user?.userBasket.books.length">
                          <p class="mb-0">You have {{user.userBasket.books!.length!}} items in your cart</p>
                        </ng-container>
                        </div>

                      </div>

                      <div *ngFor="let book of user?.userBasket?.books" class="card mb-3">
                        <div class="card-body">
                          <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">

                              <div class="ms-3">
                                <h5>{{book.title}}</h5>
                              </div>
                            </div>
                            <div class="d-flex flex-row align-items-center">
                              <div style="width: 50px;">
                                <h5 class="fw-normal mb-0">5 days</h5>
                              </div>
                              <div style="width: 80px;">
                                <h5 class="mb-0">{{book.rentalPrice + ' ' + user.userBasket.currency}}</h5>
                              </div>
                              <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>

                      <button type="button" class="btn btn-gray btn-block btn-lg">Your order: {{user.userBasket.totalRentalPriceWithVAT}} {{' ' + user.userBasket.currency}}</button>
                      <div class="floatRight">
                        <button type="button" class="btn btn-info btn-block btn-lg" (click)="onSubmit()">
                          <div class="d-flex align-content-center">
                            <span>Checkout <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                            <!-- <div class="popup" (click)="onSubmit()">
                              <span class="popuptext" id="onSubmit">Order Complete</span>
                            </div> -->
                          </div>
                        </button>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </section>
      </section>
    </div>
  </div>
    <!-- BEGIN scroll to top btn -->
    <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top" data-toggle="scroll-to-top"><i
        class="fa fa-angle-up">^</i></a>
    <!-- END scroll to top btn -->
    <div style="border-color:red; width:1000px; height:auto;"></div>
    <!-- END #app -->

</body>
