<body class="pace-top">
	<!-- BEGIN #app -->
	<div id="app" class="app">
		<!-- BEGIN register -->
		<div class="register register-with-news-feed">
			<!-- BEGIN news-feed -->

			<!-- BEGIN register-container -->
			<div class="register-container">
				<!-- BEGIN register-header -->
				<div class="register-header mb-25px h1">
					<div class="mb-1">Sign Up</div>
					<small class="d-block fs-15px lh-16">Create your Book library account. It’s free and always will
						be.</small>
				</div>
				<!-- END register-header -->

				<!-- BEGIN register-content -->
				<div class="register-content">
					<form action="" method="POST" class="fs-13px">
						<div class="mb-3">
							<label class="mb-2" for="user.firstName">First Name<span class="text-danger">*</span></label>
							<input type="text" name="user.firstName" class="form-control fs-13px" placeholder="First Name" [(ngModel)]="user.firstName"/>
						</div>
						<div class="mb-3">
							<label class="mb-2" for="user.lastName">Last Name<span class="text-danger">*</span></label>
							<input type="text" name="user.lastName" class="form-control fs-13px" placeholder="Last Name" [(ngModel)]="user.lastName"/>
						</div>
						<div class="mb-3">
							<label class="mb-2" for="user.username">Username<span class="text-danger">*</span></label>
							<input type="text" name="user.username" class="form-control fs-13px" placeholder="Username"[(ngModel)]="user.username" />
						</div>
						<div class="mb-3">
							<label class="mb-2" for="user.password">Password<span class="text-danger">*</span></label>
							<input type="password" name="user.password" class="form-control fs-13px" placeholder="Password" [(ngModel)]="user.password"/>
						</div>
						<div class="mb-3">
							<label class="mb-2" for="user.dateOfBirth">Date of Birth <span class="text-danger">*</span></label>
							<input type="date" name="user.dateOfBirth" class="form-control fs-13px" placeholder="date" [(ngModel)]="user.dateOfBirth"/>
						</div>
						<div class="mb-4">
							<label class="mb-2" for="user.address">Address <span class="text-danger">*</span></label>
							<input type="text" name="user.address" class="form-control fs-13px" placeholder="Address" [(ngModel)]="user.address"/>
						</div>
						<div class="form-check mb-4">
							<input class="form-check-input" type="checkbox" value="" id="agreementCheckbox" />
							<label class="form-check-label" for="agreementCheckbox">
								By clicking Sign Up, you agree to our <a href="javascript:;">Terms</a> and that you have
								read our <a href="javascript:;">Data Policy</a>, including our <a
									href="javascript:;">Cookie Use</a>.
							</label>
						</div>
						<div class="mb-4">
							<button type="submit" class="btn btn-primary d-block w-100 btn-lg h-45px fs-13px"
								(click)="onSubmit()">Sign Up</button>
						</div>
						<div class="mb-4 pb-5">
							Already a member? Click <a routerLink="/login"> here</a> to login.
						</div>
					</form>
				</div>
				<!-- END register-content -->
			</div>
			<!-- END register-container -->
		</div>
		<!-- END register -->
	</div>
</body>