<div class="container-fluid">
  <h3>Add Order</h3>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="order.UserId">User ID</label>
        <input type="text" id="UserId" class="form-control" [(ngModel)]="order.UserId">
        <label for="order.date">Date</label>
        <input type="date" id="order.date" class="form-control" [(ngModel)]="order.date">
        <label for="order.totalRentalPrice">Total</label>
        <input type="text" id="order.totalRentalPrice" class="form-control" [(ngModel)]="order.totalRentalPrice">
        <label for="order.totalRentalPriceWithVAT">Total With VAT</label>
        <input type="text" id="order.totalRentalPriceWithVAT" class="form-control" [(ngModel)]="order.totalRentalPriceWithVAT">
        <label for="order.currency">Currency</label>
        <input type="text" id="order.currency" maxlength="3" class="form-control" [(ngModel)]="order.currency">
        <label for="order.books">Books</label>
        <input type="text" id="order.books" class="form-control" [(ngModel)]="booksId">
        <ng-container *ngFor="let item of bookArr, let i = index">
          <ng-container *ngIf="i > 0">,</ng-container>
          {{item.id}}
        </ng-container> <br>
      </div>
    </div>
    <div class="col-md-9">
      <h3>Preview</h3>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">User</th>
            <th scope="col">Date</th>
            <th scope="col">Total</th>
            <th scope="col">Total With VAT</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{order.id}}</td>
            <td>{{order.date}}</td>
            <td>{{order.totalRentalPrice}}</td>
            <td>{{order.totalRentalPriceWithVAT}}</td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col">
          Users:
          <div *ngFor="let user of users">
              <input type="radio" name="" id="booksId" (click)="addUsers(user.id!)">
              {{ ' ' + user.firstName + ' ' + user.lastName}}
            </div>
        </div>
        <div class="col">
          Books:
          <div *ngFor="let book of books">
              <input type="checkbox" name="order.books" id="booksId" (click)="addToArray(book.id!)">
              {{' ' + book.title}}
            </div>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-success" (click)="addOrder(order)">Add Order</button>
</div>
