<div class="container-fluid">
    <h3>Add Language</h3>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="language.name">Language Name</label>
          <input type="text" id="language.name" class="form-control" [(ngModel)]="language.name">
          <label for="language.shortName">Short Name</label>
          <input type="text" id="language.shortName" class="form-control" maxlength="3" [(ngModel)]="language.shortName">
          <label for="language.books">Books</label>
          <input type="text" id="language.books" class="form-control" [(ngModel)]="booksId">
        </div>
      </div>
      <div class="col-md-9">
        <h3>Preview</h3>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col" >Name</th>
              <th scope="col" width="15%">ShortName</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{language.name}}</td>
              <td>{{language.shortName}}</td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col">
            Books:
            <div *ngFor="let book of books">
                <input type="checkbox" name="language.books" id="booksId" (click)="addBooks(book.id!)">
                {{' ' + book.title}}
              </div>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-success" (click)="addLanguage(language)">Add Language</button>
  </div>
  