<button class="badge badge-secondary mb-3"  (click)="goBack()"> Back</button>

<div *ngIf="currentLanguage.id" class="edit-form">
        <h4>Edit Language '{{currentLanguage.name}}'</h4>
        <form>
            <div class="form-group">
                <label for="name">Language Name</label>
                <input
                    type="text"
                    class="form-control"
                    id="name"
                    [(ngModel)]="currentLanguage.name"
                    name="name"
                    />
            </div>
            
            <div class="form-group">
                <label for="shortName">Short Name</label>
                <input
                    type="text"
                    class="form-control"
                    id="shortName"
                    maxlength="3"
                    [(ngModel)]="currentLanguage.shortName"
                    name="description"
                    />
            </div>

            <div class="form-group">
                <label for="books">Books</label>
                <div *ngFor="let book of currentLanguage.books">
                <input
                    type="checkbox"
                    class="form-control-sm"
                    id="books"
                    [(ngModel)]="book.title"
                    name="books"
                    /> {{book.title}}
                </div>
            </div>
        </form>
    <button class="badge badge-danger mr-2" (click)="deleteLanguage(currentLanguage)">
      Delete
    </button>
    <button type="submit" class="badge badge-success mb-2" (click)="updateLanguage(currentLanguage)">
        Update
    </button>
    </div>
    <div *ngIf="!currentLanguage.id">
        <br />
        <p>Cannot access this Language...</p>
    </div>
