<button class="badge badge-secondary mb-3"  (click)="goBack()"> Back</button>

<div *ngIf="currentPublisher.id" class="edit-form">
        <h4>Edit Publisher '{{currentPublisher.name}}'</h4>
        <form>
            <div class="form-group">
                <label for="name">Publisher Name</label>
                <input
                    type="text"
                    class="form-control"
                    id="name"
                    [(ngModel)]="currentPublisher.name"
                    name="name"
                    />
            </div>
        </form>
    <button class="badge badge-danger mr-2" (click)="deletePublisher(currentPublisher)">
      Delete
    </button>
    <button type="submit" class="badge badge-success mb-2" (click)="updatePublisher(currentPublisher)">
        Update
    </button>
    </div>
    <div *ngIf="!currentPublisher.id">
        <br />
        <p>Cannot access this Publisher...</p>
    </div>
