

<div class="container-fluid">
    <div class="row">
        <div class="col">
            Go to User Pages
            <button class="btn btn-primary" routerLink="/user">User</button>
            <br>
            Go to Available Books Pages
            <button class="btn btn-primary" routerLink="/user/all">Avaiable Books</button>
            <br>
            Go to Last Rentals Pages
            <button class="btn btn-primary" routerLink="/user/lastRental">Last Rentals</button>
            <br>
            Go to New Arrivals Pages
            <button class="btn btn-primary" routerLink="/user/newArrivals">New Arrivals</button>
            <br>
            Go to Top Rentals Pages
            <button class="btn btn-primary" routerLink="/user/topRentals">Top Rentals</button>
            <br>
            Go to User Basket
            <button class="btn btn-danger" routerLink="/user/userBasket">User Basket</button>
            <br>
        </div>
        <div class="col">
            Go to Admin Pages
            <button class="btn btn-primary" routerLink="/admin">Admin</button>     
           </div>
    </div>
</div>
